.authorNamePlaceholder,
.name {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 14px;
}
.name {
  min-width: 58px;
}
.authorNameInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.designation {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 119px;
}
.singleAuthor {
  width: 376px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.communicationAddressLabel {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 16px;
}
.communicationAddressLabelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.frameChild {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-crimson);
  box-sizing: border-box;
  display: none;
}
.inTitleCase {
  width: 97.6px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 19px;
  position: relative;
  letter-spacing: 0.03em;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.frameItem,
.rectangleParent {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-crimson);
  box-sizing: border-box;
}
.rectangleParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
}
.frameItem {
  height: 51px;
  width: 210px;
  position: relative;
  display: none;
}
.inTitleCase1 {
  width: 97.6px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 19px;
  position: relative;
  letter-spacing: 0.03em;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.authorDesignationInput,
.authorFourDetails,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-crimson);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
}
.authorDesignationInput,
.authorFourDetails {
  align-self: stretch;
  gap: var(--gap-base-5);
  color: var(--color-dimgray-100);
}
.authorFourDetails {
  flex-direction: column;
  gap: var(--gap-4xs);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.additionalInputs {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 19px;
}
.fieldsRows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xl);
}
.frameInner {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.inTitleCase2 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.rectangleContainer,
.rectangleDiv {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
}
.rectangleContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.rectangleDiv {
  height: 51px;
  width: 210px;
  position: relative;
  display: none;
}
.inTitleCase3 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.authorRows,
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupDiv {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.authorRows {
  align-self: stretch;
  gap: var(--gap-sm);
}
.div {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 19px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xl);
}
.frameChild1 {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.inTitleCase4 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.frameChild2,
.rectangleParent1 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
}
.rectangleParent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.frameChild2 {
  height: 51px;
  width: 210px;
  position: relative;
  display: none;
}
.inTitleCase5 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.authorRows1,
.rectangleParent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent2 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.authorRows1 {
  align-self: stretch;
  gap: var(--gap-sm);
}
.div1 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 19px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xl);
}
.frameChild3 {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.inTitleCase6 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.frameChild4,
.rectangleParent3 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
}
.rectangleParent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.frameChild4 {
  height: 51px;
  width: 210px;
  position: relative;
  display: none;
}
.inTitleCase7 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.authorRows2,
.rectangleParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent4 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.authorRows2 {
  align-self: stretch;
  gap: var(--gap-sm);
}
.div2 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 19px;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  font-size: var(--font-size-xl);
}
.frameChild5 {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.inTitleCase8 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.frameChild6,
.rectangleParent5 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
}
.rectangleParent5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.frameChild6 {
  height: 51px;
  width: 210px;
  position: relative;
  display: none;
}
.inTitleCase9 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.rectangleParent6 {
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-mid);
  min-width: 136px;
  white-space: nowrap;
}
.additionalAuthors,
.authorRows3,
.rectangleParent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authorRows3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm);
}
.additionalAuthors {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
  min-width: 304px;
  max-width: 100%;
}
.organization {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 128px;
}
.frameChild7 {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-crimson);
  box-sizing: border-box;
  display: none;
}
.inTitleCase10 {
  width: 97.6px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 19px;
  position: relative;
  letter-spacing: 0.03em;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.inputNamesRows,
.rectangleParent7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent7 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-crimson);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-mid);
}
.inputNamesRows {
  flex-direction: column;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.frameChild8 {
  height: 51px;
  width: 210px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.inTitleCase11 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.frameChild9,
.rectangleParent8 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
}
.rectangleParent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  white-space: nowrap;
}
.frameChild9 {
  height: 51px;
  width: 210px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.inTitleCase12 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.frameChild10,
.rectangleParent9 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
}
.rectangleParent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  white-space: nowrap;
}
.frameChild10 {
  height: 51px;
  width: 210px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.inTitleCase13 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.frameChild11,
.rectangleParent10 {
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
}
.rectangleParent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  white-space: nowrap;
}
.frameChild11 {
  height: 51px;
  width: 210px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.inTitleCase14 {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 97.6px;
  z-index: 1;
}
.rectangleParent11 {
  align-self: stretch;
  border-radius: var(--br-11xs);
  background-color: var(--color-whitesmoke-200);
  border-left: 5px solid var(--color-darkgray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid);
  white-space: nowrap;
}
.authorInputs,
.inputRows {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.inputRows {
  width: 210px;
  flex-direction: column;
  justify-content: flex-start;
}
.authorInputs {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.areThereMore {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
}
.frameChild12 {
  height: 51px;
  width: 1143px;
  position: relative;
  background-color: var(--color-lavender-200);
  display: none;
  max-width: 100%;
}
.addressForCommunication {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.addressForm,
.authorFields,
.rectangleParent12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleParent12 {
  background-color: var(--color-lavender-200);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xs)
    var(--padding-15xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
}
.addressForm,
.authorFields {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
  color: var(--color-darkslateblue);
}
.authorFields {
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .authorNamePlaceholder,
  .designation,
  .name {
    font-size: var(--font-size-base);
  }
  .singleAuthor {
    flex-wrap: wrap;
  }
  .communicationAddressLabel {
    font-size: var(--font-size-base);
  }
  .authorDesignationInput {
    flex-wrap: wrap;
  }
  .additionalInputs {
    font-size: var(--font-size-base);
  }
  .authorRows {
    flex-wrap: wrap;
  }
  .div {
    font-size: var(--font-size-base);
  }
  .authorRows1 {
    flex-wrap: wrap;
  }
  .div1 {
    font-size: var(--font-size-base);
  }
  .authorRows2 {
    flex-wrap: wrap;
  }
  .div2 {
    font-size: var(--font-size-base);
  }
  .authorRows3 {
    flex-wrap: wrap;
  }
  .organization {
    font-size: var(--font-size-base);
  }
  .addressForCommunication {
    font-size: var(--font-size-lg);
  }
}
