.frameInput {
  margin: 0;
  height: 19px;
  width: 18px;
}
.journalwebsitesPolicies {
  color: var(--color-dodgerblue-100);
}
.iAgreeWithContainer {
  position: relative;
  letter-spacing: 0.03em;
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frameWrapper {
  width: 989px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.frameParent,
.stateCityInputInner {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-33xl);
}
.stateCityInputInner {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-54xl) 0 var(--padding-48xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1225px) {
  .stateCityInputInner {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    gap: var(--gap-7xl);
  }
}
