.cooltext4611840960970061Icon {
  height: 18.8px;
  width: 67.7px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.cooltext4611840960970061Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base);
}
.internationalJournalOf,
.technologyAndManagement {
  margin: 0;
}
.internationalJournalOfContainer {
  flex: 1;
  position: relative;
  flex-shrink: 0;
}
.bookPng1Icon {
  height: 38.2px;
  width: 38.2px;
  position: absolute;
  margin: 0 !important;
  top: -32px;
  left: 16.3px;
  object-fit: cover;
  z-index: 1;
}
.journalNameImageWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frameParent,
.journalNameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-9xs-8);
}
.journalNameWrapper {
  width: 139.1px;
  align-items: flex-start;
  padding: var(--padding-7xs-4) 0 0;
  box-sizing: border-box;
}
.searchChild {
  height: 48px;
  width: 448px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.searchItem {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  color: var(--color-gray);
}
.groupIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.search,
.searchBar {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.search {
  width: 448px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-lgi) var(--padding-xs)
    var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.searchBar {
  width: 524.1px;
  flex-direction: column;
  justify-content: flex-start;
}
.profileIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.profileIconWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 var(--padding-3xs);
}
.profile {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.logoBar,
.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.logoBar {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-7xs);
  color: var(--color-darkslateblue);
  font-family: var(--font-inter);
}
.headerSeparator,
.headerSeparatorChild {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.headerSeparatorChild {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-dimgray-100);
}
.headerSeparator {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) var(--padding-10xs) 0;
}
.internationalJournalOf1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.siteName {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-10xs);
}
.aWidelyIndexed {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.aWidelyIndexedOpenAccessPWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.callForPaper {
  width: 466px;
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-100);
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  z-index: 1;
}
.slogan {
  margin-right: -110px;
  width: 986px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-2xl);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frameChild {
  height: 48px;
  width: 84px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
  display: none;
}
.home {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}
.frameItem,
.rectangleParent {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.rectangleParent {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mid);
  box-sizing: border-box;
}
.frameItem {
  height: 48px;
  width: 114px;
  position: relative;
  display: none;
}
.aimScope {
  position: relative;
  display: inline-block;
  min-width: 96px;
  z-index: 1;
}
.frameInner,
.rectangleGroup {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-4xs);
  white-space: nowrap;
}
.frameInner {
  height: 48px;
  width: 121px;
  position: relative;
  display: none;
}
.editorialTeam {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}
.rectangleContainer,
.rectangleDiv {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.rectangleContainer {
  width: 121px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-11xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.rectangleDiv {
  height: 48px;
  width: 114px;
  position: relative;
  display: none;
}
.submissions {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.frameChild1,
.groupDiv {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.groupDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-4xs) var(--padding-mini)
    var(--padding-3xs);
}
.frameChild1 {
  height: 48px;
  width: 84px;
  position: relative;
  display: none;
}
.current {
  position: relative;
  display: inline-block;
  min-width: 57px;
  z-index: 1;
}
.frameChild2,
.rectangleParent1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.rectangleParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-smi);
}
.frameChild2 {
  height: 48px;
  width: 108.2px;
  position: relative;
  display: none;
}
.archives {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}
.frameChild3,
.rectangleParent2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.rectangleParent2 {
  width: 108.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-12xs) var(--padding-mini)
    var(--padding-10xs);
  box-sizing: border-box;
}
.frameChild3 {
  height: 48px;
  width: 98px;
  position: relative;
  display: none;
}
.indexing {
  position: relative;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
}
.frameChild4,
.rectangleParent3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.rectangleParent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mid);
}
.frameChild4 {
  height: 48px;
  width: 151px;
  position: relative;
  display: none;
}
.publicationEthics {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.frameChild5,
.groupButton {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue);
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.groupButton:hover,
.rectangleParent4:hover {
  background-color: var(--color-steelblue);
}
.frameChild5 {
  height: 48px;
  width: 98px;
  position: relative;
  display: none;
}
.contactUs {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 84px;
  z-index: 1;
}
.header,
.navLinksWrapper,
.navbar,
.rectangleParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-7xs) var(--padding-mini)
    var(--padding-5xs);
  background-color: var(--color-darkslateblue);
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.header,
.navLinksWrapper,
.navbar {
  max-width: 100%;
}
.navLinksWrapper {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.header,
.navbar {
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.header {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-79xl) var(--padding-23xl) var(--padding-58xl);
  gap: var(--gap-sm);
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .header {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
.callForPaper {
  width: 100%; 
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-100);
  display: inline-block;
  max-width: 100%;
  overflow: hidden; 
  white-space: nowrap; 
  animation: marquee 25s linear infinite; 
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
a {
  text-decoration: none;
}
.navbar a {
  text-decoration: none;
}

